[2015-06-04 15:55] dsyme opened #1 "List on fsharp.org/community/projects?"
Hi @jmecosta -

Great work on this!

You might want to list this at http://fsharp.org/community/projects, that will help people find it and know they can contribute to it

Cheers!
Don

[2015-06-04 18:10] jmecosta commented on #1
hi @dsyme

thanks for the feedback, will do, thanks.

Still trying to convince sonar folks to accept it sonar forge. :)
Cheers,
JC

[2015-06-06 14:51] #1 closed, assigned to nobody

[2015-06-07 11:20] jmecosta opened #2 "fix up pom"

[2015-06-07 11:24] jmecosta opened #3 "support mono"

[2015-06-08 08:07] #3 closed, assigned to nobody

[2015-06-08 08:07] #2 closed, assigned to nobody

[2015-06-08 08:07] jmecosta opened #4 "setup builds for f# module"

[2015-06-08 08:07] jmecosta opened #5 "use latest fsharplint api"

[2015-06-08 16:11] #5 closed, assigned to nobody

[2015-06-08 16:13] jmecosta opened #6 "technical coding issues"

[2015-06-08 16:28] #6 closed, assigned to nobody

[2015-06-26 09:44] jmecosta opened #7 "rename analysis xml files"

[2015-06-26 09:44] #7 closed, assigned to nobody

[2015-08-07 18:17] #4 closed, assigned to nobody

[2015-08-09 11:32] jmecosta opened #8 "update to latest 0.0.6-beta"

[2015-08-09 11:58] jmecosta opened #9 "improve rules display from fsharplint"

[2015-08-09 14:59] #9 closed, assigned to nobody

[2015-08-09 14:59] #8 closed, assigned to nobody

[2015-08-11 14:48] dsyme commented on #1
Hi @jmecosta - DO you know what it would take to get this accepted on sonar forge?

thanks
don

[2015-08-11 15:41] jmecosta commented on #1
@dsyme no idea, last ive heard there was a email sent by sonar guys asking feedback to people at Microsoft regarding fsharp compiler service. I havent heard back.

in sum the problem seems related that the plugin heavily reuses fsharplint as its lint instead of implementing the same rules inside the plugin, which i dont agree totally.

anyway i can ping again the people, the topic is here https://

[2015-10-13 06:25] jmecosta opened #10 "remove fxcop from plugin"

[2016-02-09 16:33] ImaginaryDevelopment opened #12 "install instructions"
how do I install this into sonar server?
I see that it isn't in the list of sonar's update center. do I have to download the source and build it? how does someone install a sonar-plugin manually?

( also do I need a special runner, or will the one that was downloaded that seems to work fine for C# work?)

[2016-02-09 17:28] #10 closed, assigned to nobody

[2016-02-09 17:29] jmecosta commented on #12
ive updated the readme just now, you should not require anything other than the installation of the plugin in server. everything is setup during analysis.

[2016-02-10 21:11] ImaginaryDevelopment commented on #12
If that's all that is needed, I'm not sure why this is happening, any thoughts?

Failed: System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Build.Framework, Version=12.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

[2016-02-10 21:25] ImaginaryDevelopment commented on #12
that was using the deprecated for msbuild runner. this one however is the latest and has the same initial error

[code]

[2016-02-11 06:17] jmecosta commented on #12
Do you have vs 2013 installed?

On Wed, 10 Feb 2016 23:25 ImaginaryDevelopment notifications@github.com
wrote:

[2016-02-11 07:13] jmecosta commented on #12
If not I might need to release a new version that does not have dependency
to this dll but to the 2015 versionn

On Thu, 11 Feb 2016 08:17 Jorge Costa jmecosta@gmail.com wrote:

[2016-02-11 13:30] ImaginaryDevelopment commented on #12
I do not have 2013 installed. but it should be possible to just add a
binding redirect rather to the config files than releasing a different
version. at least I would think.

On Thu, Feb 11, 2016 at 2:13 AM, Jorge Costa notifications@github.com
wrote:

[2016-02-11 14:06] jmecosta commented on #12
is not that easy to do that since the exe is embembed in the jar and the all folder when is extracted will overwrite the current app.config.

but you can install this
https://www.microsoft.com/en-us/download/details.aspx?id=40760

it should be ok in your case

[2016-02-11 14:08] ImaginaryDevelopment commented on #12
Thanks, I'm going to try that

On Thu, Feb 11, 2016 at 9:06 AM, Jorge Costa notifications@github.com
wrote:

[2016-02-11 20:58] ImaginaryDevelopment commented on #12
worked, I'd love you to consider publishing different versions for different dependencies, but with sonar saying [itself](http://docs.sonarqube.org/display/SONARNEXT/Analyzing+with+SonarQube+Scanner+for+MSBuild) that they have deprecated pre msbuild 14 support.. maybe just the new .jar ?

[2016-02-12 05:56] jmecosta commented on #12
In this case it really does not matter.  The only thing needed is to
include the missing dlls in the zip and should be OK.

On Thu, 11 Feb 2016 22:59 ImaginaryDevelopment notifications@github.com
wrote:

[2016-02-12 13:38] ImaginaryDevelopment commented on #12
should I leave this issue open until you've done that, or close it now?

[2016-02-12 13:57] jmecosta commented on #12
Leave open so I don't forget

On Fri, 12 Feb 2016 15:38 ImaginaryDevelopment notifications@github.com
wrote:

[2016-03-14 07:11] jmecosta opened #13 "update fsharplint"

[2016-03-14 07:33] jmecosta opened #14 "bump tests library"

[2016-03-14 07:45] jmecosta commented on #12
@ImaginaryDevelopment let me know if RC3 handles your issue

[2016-12-11 13:35] jmecosta opened #15 "update to fsharplint 0.4.12"

[2017-03-07 10:45] rvisharma opened #16 "Sonar Scanner throws exception when importing test and coverage reports."
Hi,
While running sonar-scanner  without importing coverage, the plugin works perfectly.
But when i try to import the test report and coverage report. An Exception gets thrown.
Please see the details below.

## Setup

- Sonarqube 6.2
- FSharpLint 0.4.12
- NUnit - 3.4.1
- Open Cover - 4.6.166

## Sonar config
[code]

**Exception in thread "main" java.lang.NoClassDefFoundError: com/google/common/bas

[2017-03-07 10:51] jmecosta commented on #16
interesting, that works for us. This from the org.sonar.plugins.dotnet.tests, can you show what plugins have you installed in your sonarqube?

[2017-03-07 11:46] rvisharma commented on #16
**Mostly all plugins are from official sonarqube plugin centre.**

- sonar-csharp-plugin-5.8.0.660.jar
- sonar-css-plugin-3.1.jar
- sonar-java-plugin-4.3.0.7717.jar
- sonar-javascript-plugin-2.21.0.4409.jar
- sonar-scm-git-plugin-1.2.jar
- sonar-scm-svn-plugin-1.3.jar
- sonar-typescript-plugin-1.0.0.jar
- sonar-web-plugin-2.5.0.476.jar
- sonarqube-fsharp-plugin-1.0.0.jar

![2017-03-07 17_13_29-the

[2017-03-07 13:03] rvisharma commented on #16
did some digging, code breaks at this line [L106](https://github.com/SonarSource/sonar-dotnet-tests-library/blob/master/src/main/java/org/sonar/plugins/dotnet/tests/CoverageAggregator.java#L106)

[code]

It's throwing *java.lang.NoClassDefFoundError* for **Splitter** Class

[2017-03-07 13:39] jmecosta commented on #16
Did you customize the plugin? I suspect it's because the c# plugin removed
dependency to Google. And suggest rollback to previous version of c# plugin
until I upgrade the lib

On Tue, 7 Mar 2017, 15:03 Ravi Sharma, <notifications@github.com> wrote:

[2017-03-07 13:51] rvisharma commented on #16
No, i didn't perform any customization to the plugin.

The issue got resolved by manually pasting **guava-10.0.1.jar** into the plugin's cache folder.

Explanation
When sonar unpacks all the plugins into cache folder, the lib folder for C# has guava in it.
but in fsharp plugin folder, guava was missing. Once i copy it to fsharp plugin, it works!

sonar-csharp-plugin-5.8.0.660.jar_unzip\META-INF\li

[2018-02-19 15:56] richardjharding opened #17 "Is this compatible with .net core - cross platform?"
Question - will this plugin work on linux build agents? or is it dependent on windows?

[2018-02-19 16:28] jmecosta commented on #17
Should work. You need mono installed

On Mon, 19 Feb 2018, 17:56 Richard Harding, <notifications@github.com>
wrote:

[2018-02-19 16:35] richardjharding commented on #17
awesome thanks  - I'm using the vsts docker agents which I think have the mono dependencies - I'll give it a go and report back

[2018-02-20 10:38] richardjharding opened #18 "Error starting sonarqube after deploying plugin"
I copied the plugin v 1.0.1 into extensions as suggested but after restarting sonarqube I see this in the logs

[code]

I'm currently running the sonarqube docker image v 6.5 - do I need to upgrade?

Or am I missing some other dependency?

Many thanks

Richard

[2018-02-20 10:55] jmecosta commented on #18
no need, i forgot to push this commit some time ago. can you try with 1.0.2

[2018-02-20 15:00] richardjharding commented on #18
Yep confirmed it all works fine with 1.02 - for anyone else thats with vsts docker build agents (linux) and sonarqube 6.5 - see also  #17 yes it does!

[2018-02-20 15:00] #18 closed, assigned to nobody

[2018-02-20 15:01] richardjharding commented on #17
see #18  - version 1.02 works fine

[2018-02-20 15:01] #17 closed, assigned to nobody

[2018-03-05 06:47] tomaxsas opened #19 "Getting failed to parse file exception"
Trying to run analysis wit latest 1.0.2 version. Getting
`Lint NokFSharpLint.Application.Lint+LintFailure+FailedToParseFile` exception for all files. Tried to run manually, same error occurs.  No debug mode on runner, so cannot look deeper into it.

[2018-03-05 19:26] jmecosta commented on #19
does that fail the analysis? can you share some code that causes that?

[2018-03-06 05:47] tomaxsas commented on #19
For those files yes, i get 0 on all metrics. For example
[code]

Even on this file shows 0 lines of code. I assume for some reason the fsharp linter fails, maybe upgrade to latest version? I tried to upgrade, but project uses old style project files, and i dont have visual studio.

[2018-03-07 09:01] tomaxsas commented on #19
I tried to update all nuget to latest version. So now i'm not getting Lint Nok error, but the output xml file is not correct. it show 0 on all metrics.

[2018-03-07 12:55] tomaxsas commented on #19
Sorry. Must bee looked at the wrong file. After updating nuget to latest the analysis runs fine. Can you please do the update, and release new version?

[2018-03-07 13:41] jmecosta commented on #19
You mean from master? When you say you updated all nuget packages which ones are you referring. Maybe can you make a pull request?

[2018-03-09 06:22] tomaxsas commented on #19
Currently i cannot do a pull requests. but what i did is update every single nuget to it's latests stable version and it worked.  Now i see some metrics on sonarqube, however i'm stuck on importing coverage and unit tests results report.  i'm using minicover and xunit, files are generated fine, coverage is in opencover format, unit tests in trx (vstest i think) but i cannot see them in sonarqube f

[2018-03-09 06:28] jmecosta commented on #19
I have a plugin for converting open cover format to generic format that sq
uses if you want.

On Fri, 9 Mar 2018, 08:22 tomaxsas, <notifications@github.com> wrote:

[2018-03-09 06:30] tomaxsas commented on #19
i think it's worth a try

[2018-03-09 06:59] jmecosta commented on #19
https://github.com/jmecsoftware/OpenCover2SonarConverter/releases

`Usage: OpenCoverPathConverter [OPTIONS]
Converts build path in xml files into another path

Options:
    /D|/d:<directory to look for files>
    /P|/p:<Pattern of files to search>
    /E|/e:<End Path to Use for path replacement in Report>
    /S|/s:<Search string for path replace in report>
    /R|/r:<covert reports : search strin

[2018-03-16 11:08] tomaxsas opened #20 "Importing test results and coverage are not working."
Tried to import tests results, but it failed. I'm using opencover format and mstest format.
Searched for those keywords in this repository, but haven't found them, i assume it's not implemented, but readme says differently.

[2018-03-16 11:13] jmecosta commented on #20
@tomaxsas have you tried the https://github.com/jmecsoftware/OpenCover2SonarConverter.

i will at some point remove the test inport, since those can be imported using core features

[2018-03-16 12:33] tomaxsas commented on #20
Yes i did. And it gave me error
[code]

[2018-03-16 13:49] jmecosta commented on #20
Ok maybe I need to check. I've done this for c# . I will look over the
weekend

On Fri, 16 Mar 2018, 14:33 tomaxsas, <notifications@github.com> wrote:

[2018-03-24 14:25] jmecosta commented on #20
ok, can you try this:

OpenCoverPathConverter.exe /d PathWhereXmlFilesAre /p *.xml /o convertedCov.xml /x

ive uploaded a new version

[2018-03-24 14:29] jmecosta commented on #20
https://github.com/jmecsoftware/OpenCover2SonarConverter/releases/download/1.0.1/OpenCoverConverter.zip

[2018-03-24 17:51] jmecosta commented on #20
a few more explanations about this converter. You can have multiple open cover reports and and use /d for the directory where they are. So the converter will covert and merge all of them into a single xml /o file.xml that you can then use https://docs.sonarqube.org/display/SONAR/Generic+Test+Data to import the data.

if you want to have a more accurate branch coverage measure, then you can instead

[2018-05-09 20:51] alpacamybags118 opened #21 "Code Coverage - VSTest"
I've installed the plugin in my Sonar environment, and I'm using Team Foundation Server 2018 to run a CI workflow that will run f# unit tests, then report the results to Sonar. I'm running the tests using VSTest.

Currently, TFS is able to pick up the trx and coverage files and show code coverage metrics in the build summary, but Sonar is not picking up the coverage file. I've tried using both the

[2018-10-25 14:41] milbrandt opened #22 "unsatisfied dependency for Sonarqube 7.3"
Installed fsharp plugin 1.0.2 from here, SonarQube 7.3, fxcop plugin 1.4.1.

Using TFS 2015.3.1 on premise (15.117.27414.0)
TFS Sonarqube tasks: `Prepare Anaylsis Configuration` 4.* and `Run Code Analysis 4.*`

Building C# solution run code analysis is failing (no F# code in this solution):

ERROR: Error during SonarQube Scanner execution

ERROR: org.sonar.plugins.fsharp.FSharpSensor has unsatisfi

[2018-10-25 14:49] jmecosta commented on #22
What version are u using. We have tons of project like this and they dont
fail

On Thu, 25 Oct 2018, 17:41 Volker Milbrandt, <notifications@github.com>
wrote:

[2018-10-25 20:14] milbrandt commented on #22
Sorry, mixed lines up. Current release of your plugin downloaded this week: sonarqube-fsharp-plugin-1.0.2.jar
Using SonarQube server 7.3.0 Community Editon (Win7 64bit, Java8)

TFS Task Run Code Analysis 4.4.1
SonarScanner for MSBuild 4.4.2
SonarQube Scanner 3.2.0.1227

Upgrade was starting from Sonar 6.2. First update to 6.7.5 LTS. On both Releases no issue with the F# plugin.
Next step was upgra

[2018-10-25 20:28] jmecosta commented on #22
right, forgot to release this. Please get 1.0.3 and give it a try. thanks

[2018-10-29 08:23] milbrandt commented on #22
I just gave it a first try and it seems to fulfill the reqauired dependencies. Closing therefore the issue. Thanks.

[2018-10-29 08:23] #22 closed, assigned to nobody

[2019-01-07 12:20] milbrandt opened #23 "Warning regarding 'sonar.fs.file.suffixes'"
Plugin release 1.0.3 on Sonarqube 7.3

WARNING: WARN: Property 'sonar.fs.file.suffixes' is not declared as multi-values/property set but was read using 'getStringArray' method. The SonarQube plugin declaring this property should be updated.

In the analysed solution no F# code is included (only C# and Protobuf code)

[2019-01-07 16:10] milbrandt opened #24 "Could not load file or assembly 'Microsoft.Build.Utilities.v12.0"
Plugin release 1.0.3 on Sonarqube 7.3
On the build server only Visual Studio Enterprise 2017.9 is installed, no other verision of Visual Studio. This includes MSBuild 15.0

2019-01-07T14:32:40.7461240Z INFO: Source encoding: windows-1252, default locale: en_US
2019-01-07T14:32:40.7667208Z WARNING: WARN: Property 'sonar.fs.file.suffixes' is not declared as multi-values/property set but was read usi

[2019-01-14 19:22] vsobalski commented on #23
Hi, I am seeing the same issue

[2019-01-15 14:19] vsobalski commented on #23
It looks like this warning is harmless and intended for sonarqube developers only as per this [thread](https://github.com/SonarSource/sonar-dotnet/issues/1106).
I am running the plugin version 1.03 on sonarqube 7.5 with .netCore
After running an analysis with the `\d:verbose=true` flag, I noticed that the filter for F# files is still passed to the program and files are detected as source files but

[2019-01-15 14:41] jmecosta commented on #23
So u don't see the code in the server?

On Tue, 15 Jan 2019, 16:19 Vincent Sobalski <notifications@github.com wrote:

[2019-01-15 14:51] vsobalski commented on #19
@tomaxsas you mentioned that updating the Nugets packages update fixed your problem. Did you update the packages from your project? If so, would you be able to post a list of your packages with the version associated with it? I am seeing a similar error I think: my report gets generated, but the log report _INFO: Lint NokFSharpLint.Application.Lint+LintFailure+FailedToParseFile_ and sonarqube does

[2019-01-15 15:03] vsobalski commented on #23
I can see the files in the server, but it reports that 0 lines of code have been parsed. After looking into the log, I have notice that my issue might be similar to #19 as I get _Lint NokFSharpLint.Application.Lint+LintFailure+FailedToParseFile_ (line 569 of the log above) but the report analysis is generated and contains some data

[2019-01-15 15:09] jmecosta commented on #23
Well yeah, parser might need to be adjusted. Can you provide a source code
snipet to illustrate the failure

On Tue, 15 Jan 2019, 17:03 Vincent Sobalski <notifications@github.com wrote:

[2019-01-15 15:22] vsobalski commented on #23
No problems.
I am currently using a sample code to set up my toolchain. I enclosed the code that trigger the failure since it's fairly long for a post and changed the extension from .fs to .txt. Not sure if it matters, but I am using dotNet core for all of my tests
[Program.txt](https://github.com/jmecsoftware/sonar-fsharp-plugin/files/2760240/Program.txt)

[2019-01-15 20:32] tomaxsas commented on #19
I updated all nugets on this plugin, recompiled it and uploaded on sonarqube. but soon fsharp was left behind so dont know current status of this.

[2019-03-05 19:37] milbrandt commented on #24
Is this the same as was reported in issue #12? As next VS will be released soon, any idea to resolve this with current VS2017 would be welcome.

[2019-04-03 14:12] TclasenITVT opened #26 "Updating everything"
Hi jmecsoftware I am trying to update the whole plugin to the newest possible version of everything that is used. Is there documentations about what the constraints of this solutions for instance why framework 4.5.?
I hope that with a little bit of help I can get this finished fairly quickly.

[2019-05-10 09:34] Autodidax86 commented on #24
Any updates on this topic? We also require this fix.

[2019-05-10 17:59] jmecosta commented on #24
i can try to upgrade the dependecies to use latest msbuild

[2019-05-10 18:43] milbrandt commented on #24
@Autodidax86

As we were waiting for several month now without any response, I proposed F# plugin at the official [Sonar community forum](https://community.sonarsource.com/t/any-plans-for-a-f-scanner/9289). Please support there the demand for F# as input to Sonar's choice of the next language to add.

[2019-05-12 10:43] jmecosta commented on #24
@milbrandt thats absolutely fine of course, just as a side note. this is a open source project and contributions are more than welcome ;)

[2019-05-19 06:57] milbrandt commented on #24
As far as I understood it is not possible to use any 3rd party plugin on Sonarcloud, is it? Therefore support by them is required to get F# support there. See [here](https://community.sonarsource.com/t/support-custom-plugin-on-sonar-cloud/4747).

@jmecosta As a side note, based on rare response on issues and PR I was not sure in which extend this project is still maintained.

[2019-05-25 07:38] milbrandt commented on #26
Framework 4.5 was up-to-date when the plugin was created in (May) 2015. 4.6 was relased later in that year. Thus I assume it was never updated.
Let give it a try and create a pull request even with 4.5. I would hope that several issues can already then retested and closed. A second step would then to go for .NET Core.

[2019-05-28 10:34] TclasenITVT commented on #26
My First issue with updating the Plugin is that after updating the packages to the newest version, that still supports 4.5,

After researching what happend to 'Microsoft.Fsharp.Compiler.Range.range' I found that it moved to 'Fsharp.Compiler.Range.range'. The Problem is that even with the `open Fsharp.Compiler.Range` it still shows that error. I can't find the place where that type is used in the S

[2019-05-28 20:23] milbrandt commented on #26
I see the message that the `FsSonarRunnerCore` project doesn't reference on net45. I'll try to give it a try on the public holiday.

[2019-05-28 20:47] jmecosta commented on #26
nop, u can try to upgrade! or even better i think the way forward is to do .net core --self-contained package. I think i will have a bit of time in the upcomming weeks to update all this. Apologies for getting a bit behid.

[2019-05-30 08:49] milbrandt opened #29 "Branch gh-pages obsolete?"
Is there anything used in the stale branch `gh-pages`? On a quick glance it seems all auto-generated and 4 years old. Maybe it would be better to discard and generate a new GitHub pages branch if you want to maintain it.

[2019-05-30 09:40] milbrandt commented on #26
Self contained dotnet Core will require replacement of FSharp.Compiler.Service.*

For now a PR #30 was created to update most nuget packages, update to full .Net framework 4.7.2 and new project format of Net.SDK.

There are still some issues (most unit tests, Maven build) - anything already fixed and support are welcome.

[2019-05-30 11:39] milbrandt opened #31 "Bring plugin to SonarQube marketplace"
SonarQube is reworking their plugin documentation. Their plan is that the [Other Plugin](https://docs.sonarqube.org/display/PLUG/Other+Plugins) page will go away, probably with next release 7.8 coming soon. They will only list everything in their Marketplace.

As this plugin is currenlty on the vanishing page, it should be considered to go the step:
https://docs.sonarqube.org/display/DEV/Deploying

[2019-05-30 19:08] milbrandt commented on #15
As `FSharpLint.Core` version 0.7.6 is used in master, IMHO this issue should be closed.

[2019-05-30 19:09] milbrandt commented on #13
This was update to FSharpLint.Core.0.0.14, now 0.7.6 is in master. Close the issue?

[2019-05-31 05:24] jmecosta commented on #15
Yep, but i think after fixing all those we need to bump that to 0.12. And it will not compile, have to see whats the changes there

[2019-05-31 05:24] #15 closed, assigned to nobody

[2019-05-31 05:24] jmecosta commented on #29
Likely some experiment, deleting. For now readme is enough

[2019-05-31 05:24] #29 closed, assigned to nobody

[2019-05-31 05:25] #13 closed, assigned to nobody

[2019-05-31 05:26] #14 closed, assigned to nobody

[2019-05-31 06:27] jmecosta commented on #31
@milbrandt i dont have any problems publishing it to marketplace, feel free to start the procedure if you like. I add you as colaborator so you can proceed with it if you wish

[2019-05-31 06:34] jmecosta commented on #26
for reference https://www.nuget.org/packages/FSharp.Compiler.Service/ 29.0.0 targets .net standard 2.0. So in principle  we should be able to create self deployment packages once we upgrade those.

[2019-05-31 06:58] milbrandt commented on #26
Yes, but unfortunately https://www.nuget.org/packages/FSharp.Compiler.Service.ProjectCracker/ v29.0 still is only .Net 4.6.1

[2019-05-31 07:50] jmecosta commented on #31
Sure why not, if they allow it. I dont have any restrictions

On Thu, 30 May 2019, 14:39 Volker Milbrandt, <notifications@github.com>
wrote:

[2019-05-31 09:02] jmecosta commented on #26
Alright thanks for the effort and update. I havent checked the compiler
service but earlier version was requiring mono to run on linux, it would be
nice to move to .net core at this time. Even if it takes a bit more time
updating the compiler service

On Thu, 30 May 2019, 12:40 Volker Milbrandt, <notifications@github.com>
wrote:

[2019-05-31 10:25] milbrandt opened #34 "Update appveyour image to VS2019"
master branch is failing to build based on image change to VS 2019.
https://ci.appveyor.com/project/jorgecosta/sonar-fsharp-plugin-wxq94/builds/24946740

[2019-05-31 10:32] jmecosta commented on #34
looks like java is also off

[2019-05-31 10:37] milbrandt commented on #34
yes, seems so. You need to check if there is either a newer  Java 8.x or even Java 11. Sonarqube will go for Java 11 with release 8, so at the moment Java 8 would be the better choice. Maybe try to fix it in a branch first?

[2019-05-31 10:43] jmecosta commented on #34
my guess, they having updated doc https://www.appveyor.com/docs/windows-images-software/#java even 2019 is not mention there. it might be that we have to dir the program files to find out what java is there. And also not sure if they even can use oracle jdk anymore because of the license change. if so we will need pull a  openjdk instead.

[2019-05-31 10:49] milbrandt commented on #34
On Azure DevOps an hosted image with OpenJDK by Azul is available.
IMHO go for the Visual Studio 2017 Image with JDK 1.8 Update 162. That would be fine for SonarQube 7.x

[2019-05-31 11:17] milbrandt commented on #34
Probably you should also increment the version, e.g. to 1.0.4, in all 3 pom files as the runtime changes (Java, VS201x).

[2019-05-31 11:37] jmecosta commented on #34
So supose we move to azure pipelines

On Fri, 31 May 2019, 14:17 Volker Milbrandt, <notifications@github.com>
wrote:

[2019-05-31 11:38] jmecosta commented on #34
Lets put this compiling, we can then handke all thise

[2019-05-31 11:47] jmecosta commented on #26
This is probably a good candidate for removal since this is a legacy
package. I dont remenber why we even have it here 🙂

On Fri, 31 May 2019, 09:58 Volker Milbrandt, <notifications@github.com>
wrote:

[2019-05-31 11:59] milbrandt commented on #34
It's your project - thus you decide. If we want to go in direction SonarQube Marketplace (Issue #31) then it is required to integrate Sonarcloud Analysis in the build. But first master and the current PR #30 should be done before even thinking loud on such things.

[2019-05-31 12:10] jmecosta commented on #34
fixed, later we can move to azure!

[2019-05-31 12:10] #34 closed, assigned to jmecosta

[2019-06-01 16:03] milbrandt opened #35 "Add support of new designed FSharpLint rules"
In PR [Redesign & refactor linter](https://github.com/fsprojects/FSharpLint/pull/330) FSharpLint analysers where removed. To get Sonar F# Plugin up and running again, in #30 this rewriting was deferred.

~~Furthermore, XmlConfiguration is deprecated in FSharpLint and replaced with a new JSON configuration. In #30 mostly remained on the old style and only the bare minimum to get it up was fixed.~~

[2019-06-01 16:08] milbrandt commented on #35
FSharpLint 0.11.0 is initial release with rework, most parts are in commit f935f6e053c91d243733ed263d9b7d3c0a14afe9 of 30.04.2019.

[2019-06-01 19:51] milbrandt opened #37 "Add description and topics"
On the header of the start page https://github.com/jmecsoftware/sonar-fsharp-plugin
_No description, website, or topics provided_ and no topics are set.

Proposal for topics: fsharp, sonar-plugin, sonarqube, static-code-analysis (start typing, then topics are proposed)

Only the project administrator has the rights to set these.

[2019-06-01 22:00] jmecosta commented on #37
👍

[2019-06-01 22:00] #37 closed, assigned to jmecosta

[2019-06-04 11:15] milbrandt opened #40 "Broken Links in SonarQube-Administration-Marketplace"
In the Marketplace list of installed plugins the link to Homepage https://docs.sonarqube.org/display/PLUG/Plugin+Library/sonarqube-fsharp-plugin and Issue Tracker https://jira.sonarsource.com/secure/Dashboard.jspa don't match this plugin.

[2019-06-04 20:41] jmecosta commented on #40
how do you update those? i dont think i have access to those

[2019-06-04 21:02] milbrandt commented on #40
@jmecosta I don't know how, but it should be possible as other plugins have different options and links there. Probably these are the default from the template now and can be configured however it is done.

For me, it's not important but I wanted to write the issue down when I installed the latest build of master on our Sonarqube server.

[2019-06-05 04:45] jmecosta commented on #40
Ah i think it can be configured in pom.xml. i think i understood the issue
now. I will check it later

On Wed, 5 Jun 2019, 00:02 Volker Milbrandt, <notifications@github.com>
wrote:

[2019-06-05 22:16] peterquicken commented on #21
Upvoting this issue

[2019-06-08 09:12] milbrandt commented on #24
seems to be fixed with PR #42 , exception no longer thrown

2019-06-08T09:04:44.3559342Z INFO: Sensor F# [sonarqubefsharpplugin]
2019-06-08T09:04:45.2689802Z INFO: [|"/i:D:\_1\2\.sonarqube\out\.sonar\mod9\fs-analysis-input.xml";
2019-06-08T09:04:45.2690322Z INFO:   "/o:D:\_1\2\.sonarqube\out\.sonar\mod9\fs-analysis-output.xml"|]
2019-06-08T09:04:48.0613159Z INFO: Lint NokFSharpLint.Application.Lin

[2019-06-08 09:12] #24 closed, assigned to milbrandt

[2019-06-08 09:15] milbrandt commented on #12
@ImaginaryDevelopment Installation instruction in PR #41 and some other rework was done. Could you please test if with v1.0.5 (coming soon) your issues are solved?

[2019-06-08 09:32] milbrandt commented on #26
@TclasenITVT in PR #30 I updated everything on the F# side up to now. The solution compiles. tests are passing and I could run the FsSonarRunner on this project. Only the intended "bugs" in `FsSonarRunner\FsSonarRunnerCore.Test\Resources\LintTestFile.fs` are still in. Maybe you want already to have a look on it, also review on the PR would be welcome.

[2019-06-08 10:16] milbrandt opened #43 "Why keep fork jmecosta/sonar-fsharp-plugin?"
Jorge, this main repo is quiet in front of your fork https://github.com/jmecosta/sonar-fsharp-plugin and seems to be abandoned. Any reasons not to simplify structure and delete the fork?

[2019-06-08 10:28] milbrandt opened #44 "Update of sonar-dotnet-tests-library"
@jmecosta you have a fork https://github.com/jmecosta/sonar-dotnet-tests-library of this library. The file sonar-dotnet-tests-library-1.5-SNAPSHOT.jar in this repo seems to be newer. Is your fork still needed?

I found a reference to 7.9.1.7622 on the web. Did you do any special adjustments of the code? Can we just download any newer release and where to get it best?

[2019-06-08 19:48] jmecosta commented on #43
no reason :) deleted now

[2019-06-08 19:48] #43 closed, assigned to jmecosta

[2019-06-08 19:55] jmecosta commented on #44
currently we are trying to remove dependency to that library in some other plugins im working, and actually also remove coverage support from this plugin.

Currently the platform by default supports generic coverage reports https://docs.sonarqube.org/latest/analysis/generic-test/ also when working with it i found limitations so ive created a new plugin that is not language agnostic https://github.

[2019-06-08 20:06] milbrandt commented on #44
So we should remove it also here? As you have done it already in other plugins I would appreciate it if you could deal with this as soon as we are on net472.

[2019-06-08 20:58] jmecosta commented on #21
@peterquicken @alpacamybags118 sorry however we will drop the support for those in plugin. There are already many alternatives that u can use for coverage like https://docs.sonarqube.org/latest/analysis/generic-test/ or https://github.com/jmecsoftware/sonarqube-testdata-plugin. coverage was kind of proto on top of c# dotnet tests library and the way it was maintained was not good.

[2019-06-08 20:58] #21 closed, assigned to nobody

[2019-06-08 20:59] jmecosta commented on #44
handled in #45

[2019-06-08 20:59] #44 closed, assigned to jmecosta

[2019-06-10 19:35] milbrandt opened #46 "Replace deprecated Sonarqube API"
No deprecated APIs will be accepted for plugins, see https://docs.sonarqube.org/display/DEV/Versioning+and+API+Deprecation. Prerequisit for Issue #31

- org.sonar.api.profiles.ProfileDefinition is deprecated and will be dropped in Sonarqube 8 (used in FSharpSonarWayProfile)

[2019-06-10 19:49] jmecosta commented on #46
i can take care of that one, ive done afew already.

[2019-06-10 20:23] jmecosta commented on #46
#47  closed

[2019-06-10 20:23] #46 closed, assigned to jmecosta

[2019-06-12 07:19] milbrandt commented on #40
fixed in v1.0.6.110

[2019-06-12 07:19] #40 closed, assigned to milbrandt

[2019-06-12 21:55] milbrandt commented on #16
@rvisharma Could you please test if there are still exceptions in release 1.0.5? You'll need Sonarqube 6.7 or newer to run the plugin. Regarding Tests and code coverage see the Readme markdown.

[2019-06-13 20:02] milbrandt opened #49 "Broken links in locatization"
several links are broken in sonar-fsharp-plugin\src\main\resources\org\sonar\l10n\fsharp\rules\fsharplint
e.g. for NameConventions in RulesNamingConventionsEnumError.html

Are these files in use at all?

[2019-06-13 20:04] milbrandt opened #50 "Upload JUnit test results in CI build"
junit tests results are not reported in AppVeyor (only 21 F# Tests, 1 Junit test is missing)

see documentation at https://www.appveyor.com/docs/running-tests/

[2019-06-13 20:07] milbrandt opened #51 "Check which *analysis*.xml files are required"
\[fs-\]analysis-(input|output).xml - which ones are needed, all required available?

[2019-06-13 20:16] jmecosta commented on #51
the output xml deprectated metrics can go. but i supose the rest is needed. There are Setting tag in the input, but rather keep that if needed in future

[2019-06-13 21:09] milbrandt opened #52 "Replace XmlConfigurationHelper.fs by next FsharpLint Update after v0.12.1"
https://github.com/fsprojects/FSharpLint/pull/354

[2019-06-13 21:27] milbrandt opened #53 "Analyze plugin in Sonarcloud"
An requirement of Sonarqube for deploying plugins to their Marketplace:

See [Deploying to the Marketplace, no. 7](https://docs.sonarqube.org/display/DEV/Deploying+to+the+Marketplace)

[2019-06-14 04:44] jmecosta commented on #53
Supose it cant be done? Since we cant have there the f# plugin?

On Fri, 14 Jun 2019, 00:27 Volker Milbrandt, <notifications@github.com>
wrote:

[2019-06-14 13:38] milbrandt opened #54 "Build 1.0.6.119 fails to start"
Cleand all temp data (directories temp, logs, data).
Seems like the activation of FsharpRules is called multiple times.
Plugin build 1.0.6.119 fails, 1.0.6.110 is still working.

On startup of Sonarqube in web.log:

2019.06.14 15:32:34 ERROR web[][o.s.s.p.Platform] Background initialization failed. Stopping SonarQube
java.lang.IllegalArgumentException: The rule 'fsharplint:RulesHintSuggestion' is

[2019-06-14 18:38] #54 closed, assigned to milbrandt

[2019-06-14 18:41] milbrandt commented on #53
Asked in sonar community forum for advice, see https://community.sonarsource.com/t/link-to-f-plugin-goes-to-a-fork/9905/7 as other language analyzers probably had the same issue in the past already

[2019-06-14 20:08] milbrandt opened #56 "Include build number in version"
Version numbering should include build to distinguish the CI builds (for testers and developers only): {major}.{minor}.{patch}**.{build}**

This should be included in jar Name and at least in the info displayed in Sonarqube Server  Marketplace (ie Update Center).

- patch pom files
- patch `directory.build.props`

Tagging should remain unchanged

[2019-06-15 18:50] jmecosta opened #57 "several rules are showing as deprecated"
@milbrandt do u have the same?

![image](https://user-images.githubusercontent.com/1041352/59555201-97cb9700-8fb7-11e9-97c0-a2e75ad78cca.png)

[2019-06-15 21:55] milbrandt commented on #57
Unfortunately yes, and all rules are marked as major in 1.0.6.122.
In 1.0.6.110 there where already the same number of deprecated rules, but with information  as severity level.

Maybe there is also a predefined alternative for giving the severity string in each call of `activateRule`. Otherwise we should introduce an enumeration of strings for the severity levels.

![screenshot1-0-6-110](https://

[2019-06-15 22:11] milbrandt commented on #57
released 1.0.5 and even the old 1.0.3 (Oct 2018) have the same behavior as 1.0.6.110

[2019-06-15 22:15] milbrandt commented on #53
At least the java part can be analyzed in Sonarcloud

[2019-06-15 22:39] milbrandt opened #58 "Number of recommended rules off"
The recommended way is called _Sonar way_. Is this naming ok?
By default 38 code smells are enabled, the only one bug rule is disabled.

For customized profiles, the number of disabled rules compared to the recommended Sonar way is displayed. For this plugin it is not taken into account that the bug rule is already disabled in the recommended "Sonar way rules". For 21 rules anabled the expected di

[2019-06-16 12:22] milbrandt commented on #57
`org.sonar.api.rule.Severity` contails al the supported severity values, see [Plugin API](cs.sonarsource.org/latest/apidocs/index.html?org/sonar/api/batch/sensor/Sensor.html)

[2019-06-16 14:02] milbrandt commented on #57
In `org.sonar.plugins.fsharp.FSharpSonarRulesDefinition`, lines 191 ff.,  the rule names for several rules are set explicitly to _deprecated rule_. These rules were added on Feb 20, 2018 in commit 3a4847584ae9ae018ee6a8403e59d1b4886c9214

[2019-06-16 15:52] jmecosta commented on #57
ok, so lets remove them since they have been deprecated for a while. i remenber this was done when there was a major refactoring in fsharplint

[2019-06-16 15:55] jmecosta opened #59 "Regression: removal of deprecated api causes no files to be analysed"
caused by https://github.com/jmecsoftware/sonar-fsharp-plugin/commit/6fa079c871983c3f965ac19211aed005f4fe9d44

appendLine(sb, "    <File>" + file.filename() + "</File>");

this provides only the filename, so we need to pass also the project base path or Uri. Uri is in from of file:/// thats probably is the most reliable and most likely not to break if Core dediced to change the layout of the proje

[2019-06-16 16:08] milbrandt commented on #57
There are several rules in `FSharpSonarRulesDefinition` which aren't included `FSharpSonarWayProfile`. Have you deprecated them long ago?
I created a branch for some refactoring the above and observed now these additional rules like RulesNamingConventionsTypesError.

[2019-06-16 16:49] jmecosta commented on #59
fixed in #60

[2019-06-16 16:49] #59 closed, assigned to nobody

[2019-06-16 17:21] jmecosta commented on #58
its probably because there is a template rule, that is likely not counted

[2019-06-16 17:22] jmecosta commented on #57
i think at least more than a year! anwyay, fharp lint will not produce those anymore so we should just remove them.

[2019-06-16 17:24] jmecosta commented on #58
regarding the severity/type this work hasnt been done. setting those to major, then users can do what they like. Sonar Way is the default naming for the readonly profile. tought thats SonarQube team naming, it doesnt mean we need follow it strictly. but since its there its thre

[2019-06-18 06:06] otrosien commented on #53
beware also of rule 3e: "The key of your plugin must be: not just the name of a language (e.g. cannot be java, rust, js/javascript, ...)"

[2019-06-20 11:24] milbrandt opened #62 "The key of your plugin must be: not just the name of a language (e.g. cannot be java, rust, js/javascript, ...)"
beware also of rule 3e: "The key of your plugin must be: not just the name of a language (e.g. cannot be java, rust, js/javascript, ...)"

_Originally posted by @otrosien in https://github.com/jmecsoftware/sonar-fsharp-plugin/issues/53#issuecomment-502960729_

[2019-06-20 11:30] milbrandt commented on #53
The [answer from Sonarqube](https://community.sonarsource.com/t/how-to-analyze-new-language-on-sonarcoud-from-appveyor/10845) in their community forum was that it is fine if only Java part is analyzed. That should be possible with the Maven scanner.
Unforunately there is no direct support for Appveyor available (like eg for Azure DevOps) this the upload to SonarCloud will have to be sone with a Ss

[2019-06-20 11:33] milbrandt commented on #53
@jmecosta I would propose to do These steps only for net472 analyzer and when #62 is fixed. What's your Point of view? Further as it's your repository you should propably also be the owner of the Sonarcloud.io account.

[2019-06-20 12:00] milbrandt commented on #62
Thanks @otrosien I moved this to a separate issue as it has nothing do do with analyzing in sonarcloud. It is an important Point, even while there are other plugins on the market place which don't obey (eg Haskell). Contributors and supporters are always welcome ;)

@jmecosta Do have any preferences? Probably the key and the name should indicate the that this plugin is open source.

[2019-06-20 12:11] jmecosta commented on #53
i dont mind either way. feel free to put into the marketplace at your own pace :)

[2019-06-20 12:17] jmecosta commented on #62
sonar-fsharp?

[2019-06-20 15:08] otrosien commented on #62
I was thinking the same for my perl plugin (still waiting for confirmation that this is doable here: https://community.sonarsource.com/t/new-release-perl-plugin-0-4-0/5569/8?u=otrosien )

[2019-06-20 15:09] otrosien commented on #62
dashes are not allowed btw.

[2019-06-20 15:24] milbrandt commented on #62
Thanks Oliver, I'll watch your communication with Ann - but she mentioned in another thread to be out of office this week. The question regarding breaking all existing installations came also to my mind.

As your plugin is further down the road to marketplace we'll observe. For me `sonarfsharp` or `communityfsharp` would both be fine.

[2019-06-20 16:20] milbrandt commented on #50
fixed starting with build 1.0.6.143

[2019-06-20 16:20] #50 closed, assigned to milbrandt

[2019-06-20 17:22] milbrandt opened #64 "Update ruleset to match FsharpLint"
Open questions from PR #61

- [x] In `org.sonar.plugins.fsharp.FSharpSonarRulesDefinition` there are 16 additional rules which are not activated in `FSharpSonarWayProfile`. Some of them should IMHO included, eg RulesRedundantNewKeyword Why are These rules not included? Any history behind it? These rules are unchanged for now.
Comment from Jorge: _The asnwer is pretty much the same, the rules have

[2019-06-20 18:34] milbrandt opened #65 "Analyses not upladed to SonarQube"
Prerelease 1.0.6.136

Running on Azure DevOps Server 2019. Solution with C#, WiX and multiple F# projects analyzed.
Number of F# files and Projects to analye are identified correctly.

In SonarQube only C# and CSS are shown as analzed languages and no F# code is showing up.

2019-06-16T20:44:28.3418211Z INFO: [|"/i:D:\_2\8\.sonarqube\out\.sonar\mod2\fs-analysis-input.xml";
2019-06-16T20:44:28.3418

[2019-06-20 19:37] milbrandt commented on #65
In _About this Project_, only C#. CSS number of lines are displayed, _Quality Profile_ F# is indicated.

[2019-06-21 09:32] milbrandt commented on #56
fixed only for master branch with net45 (still AssemblyInfo.fs, not directory.build.props)

[2019-06-21 10:47] milbrandt commented on #56
for dotnet build fixed `directory.build.props` in PR #30

[2019-06-21 10:47] #56 closed, assigned to milbrandt

[2019-06-22 10:06] milbrandt commented on #65
in 1.0.6.164 KNOWN LIMITATIONS: (willl not be fixed for .NET 4.5)
Requires MSBuild.v12 (e.g. Visual Studio 2015) installed to parse F# files
Depends on FSharp.Core.dll 4.4 (e.g. Visual Studio 2015 F#)

Further fix will require update to latest dependencies and update to net472 #30 at least

[2019-06-22 10:08] milbrandt commented on #19
Parse exception is a known limitation of 1.0.6.164 if no Visual Studio 2015 with F# is installed on build server.

[2019-06-22 19:55] milbrandt opened #68 "Not Supported member Report"
1.1.0-166-rc: reports on 2 files in a MiddlewareStatus repo:

2019-06-22T19:34:50.5440443Z 21:34:50.539 INFO: Lint Ok

_Originally posted by @milbrandt in https://github.com/jmecsoftware/sonar-fsharp-plugin/pull/30#issuecomment-504693671_

source\WindowsService\ServiceInstaller.fs
source\WindowsService\WindowsService.fs

[2019-06-22 20:30] milbrandt commented on #23
@vsobalski Maybe you can give a pre-release 1.1.0 build from appveyor a try. There the parser is updated, but I see in PR #30 several issues. So any additional testing and feedback is welcome.

[2019-06-22 20:59] milbrandt commented on #68
This report I could observe also on other builds.

[2019-06-23 13:54] jmecosta commented on #68
i also have those ones! Looks that needs to be implemented in the core side

[2019-06-23 20:12] milbrandt commented on #26
This will restrict us to a target platform (eg win7-x64): https://docs.microsoft.com/en-us/dotnet/core/versions/selection#self-contained-deployments-include-the-selected-runtime

Up to now with the dependency on net45/net472 we are also restricted to Windows. But shall we continue to require this or demand that a current .NET Core is installed on the build servers? Then (in theory) the plugin woul

[2019-06-24 06:01] jmecosta commented on #26
Hum, not sure i understand.

this is how i do for a wrapper i created https://github.com/jmecsoftware/CxxSonarQubeRunner/blob/master/CxxSonarQubeRunner/CxxSonarQubeRunner.fsproj#L9  then i have https://github.com/jmecsoftware/CxxSonarQubeRunner/tree/master/Tools scripts that call one platform or the other.

as a side note, the plugin was supporting .net and mono. but the problem iwht mono is that

[2019-06-24 19:39] milbrandt commented on #26
Sure, multitargeting is not an issue during compile time for self-containing. And yes, you can pack all of them in the zip.
But now the Java plugin needs to call the matching for the build server OS. On a first glance, you have several scripts to execute manually, but this needs to be done by the plugin without user intervention. This might be tricky, maybe it's easy - I don't now.

For framework

[2019-06-24 19:47] jmecosta commented on #26
the java plugin is already doing that for mono https://github.com/jmecsoftware/sonar-fsharp-plugin/blob/master/sonar-fsharp-plugin/src/main/java/org/sonar/plugins/fsharp/OsUtils.java, so it should be big issue to make it flawlessly everywhere. The problem i see the size of the jar, that will become huge :) if that is a problem they going with .net core seems the most suitable way forward.

[2019-06-28 15:00] milbrandt commented on #68
running `dotnet-fsharplint` from commandline is running fine on the same files, reporting 0 warnings.
Running `FsSonarRunner.exe` on These files separatly report the above not supported member report.

[2019-06-28 15:17] milbrandt commented on #68
Issue is reported on lines with inherite like `inherit ServiceBase()`

[2019-06-28 15:33] milbrandt commented on #68
Code in `UntypedAstUtils.fs`borrowed from deprecated [Visual F# Power Tools](https://github.com/fsprojects/Archive-VisualFSharpPowerTools) which starting with Visual Studio 2017 is ported to [Visual F# Tools](https://github.com/dotnet/fsharp)

[2019-06-29 13:21] milbrandt commented on #68
`visitMember` only support 4 DU cases of `SynMemberDefn` in the code borrowed from `\src\FSharp.Editing\Common\UntypedAstUtils.fs`. 11 cases exist. Not critical, Plugin should work even with this.

[2019-06-29 13:32] milbrandt opened #70 "Duplicate lines not reported to Sonarqube"
1.1.0.166-rc on build Server log:

but duplicated lines in Sonar server shows

_Originally posted by @milbrandt in https://github.com/jmecsoftware/sonar-fsharp-plugin/pull/30#issuecomment-504696641_

[2019-06-29 13:37] #65 closed, assigned to milbrandt

[2019-06-30 10:47] milbrandt opened #72 "Add WIP extension"
Add WIP from Github Marketplace https://github.com/marketplace/wip to block merges of work in progress.

@jmecosta As it's your repo only you can install it. Free plan is enough.

[2019-06-30 14:51] milbrandt commented on #12
No reply for 3 weeks, install instructions in `Readme.md` are updated, new release which should no longer rely on MSBuild 12 is going to be released with 1.1.0 (using .NET 4.7.2 instead of .NET 4.5).

[2019-06-30 14:51] #12 closed, assigned to nobody

[2019-06-30 19:09] jmecosta commented on #72
done

[2019-06-30 19:09] #72 closed, assigned to jmecosta

[2019-06-30 19:38] milbrandt commented on #26
Update to net472 and updating all nuget and Maven dependencies in release v1.1.0.
I'll keep this open as here is some discussion regarding upgrading to .NET Core.

[2019-06-30 19:41] milbrandt commented on #57
removed in v1.1.0

[2019-06-30 19:41] #57 closed, assigned to milbrandt

[2019-07-06 12:44] #26 closed, assigned to milbrandt

[2019-07-06 12:49] milbrandt commented on #19
use Plugin v1.1 (net472) or even v1.2 (dotnet Core 2.2) as soon as available

[2019-07-06 12:49] #19 closed, assigned to nobody

[2019-07-07 07:39] #52 closed, assigned to milbrandt

[2019-07-10 18:54] milbrandt commented on #62
@jmecosta I would go for `communityfsharp` if it's ok for you as `sonarXXX` as in the above linked discussion there was a statement "although there’s nothing in the rules (yet!" - and I wouldn't like to make a breaking change of the key twice.

[2019-07-13 13:19] milbrandt opened #75 "Update Linter"
ok no problem, ive reference this https://github.com/TrimbleSolutionsCorporation/VSSonarQubeExtension/issues/278 to upgrade the linter there to last version and i will do all the testing then in our internal servers also!

_Originally posted by @jmecosta in https://github.com/jmecsoftware/sonar-fsharp-plugin/pull/30#issuecomment-500157915_

[2019-07-13 17:17] milbrandt commented on #49
seems like the files were not used already for some time - deleted them

[2019-07-13 17:17] #49 closed, assigned to nobody

[2019-07-14 09:37] milbrandt commented on #53
WIP: https://sonarcloud.io/dashboard?id=jmecsoftware.sonarqube.fsharp%3Asonar-communityfsharp-analyzer

[2019-07-15 19:10] #53 closed, assigned to milbrandt

[2019-07-15 19:10] #62 closed, assigned to nobody

[2019-08-03 20:54] milbrandt commented on #16
Closed as no update from original poster.

[2019-08-03 20:54] #16 closed, assigned to nobody

[2019-08-06 19:41] megaDeej opened #80 "[1.1.0.200] Unable to read plugin manifest from jar"
**Describe the bug**
When trying to install the latest version of the plugin, we are receiving this error: Unable to read plugin manifest from jar : C:\sonarqube-enterprise\sonarqube-7.9.1\extensions\plugins\sonarqube-fsharp-plugin-1.1.0.200.jar

Do you happen to know what might be going on?

**To Reproduce**
Steps to reproduce the behavior:
1. Install plugin in the proper way and restart the Sona

[2019-08-12 19:59] milbrandt commented on #80
Sorry, no I haven't seen this up to now.
As this was from the major PR #30 which changed and fixed a lot, could you please give the latest release [2.0.0.279](https://github.com/jmecsoftware/sonar-fsharp-plugin/releases) a try with SonarQube 7.9.1? I would be very interessted in the result as in the company we're still on SonarQube Developer 7.7 with JRE 8.

[2019-08-12 20:01] milbrandt commented on #80
Please be aware, that the plugin jar and key was renamed with 2.0

[2019-08-12 20:02] megaDeej commented on #80
Sure I'll try and get it installed ASAP.  Thanks!

[2019-08-12 20:10] milbrandt commented on #80
Thanks, and maybe you get more information if you increase the log level.
The Jar was downloaded successfuly? On stackoverflow I found a report of your error message where the jar was broken (and an exception logged previously).

[2019-08-13 09:23] milbrandt commented on #80
For testing purpose I created an Azure VM with Azul Zulu JDK 11 and installed SonarQube Community 7.9.1 with test database H2 there. When starting Sonarqube Server (with `StartSonar.bat`, not as a service) SonarQube started successfully and displayed the F# plugin for 1.1.0.200 as well as 2.0.0.279

[2019-08-21 11:33] megaDeej commented on #80
I was able to get the latest version installed, currently testing now, but I did not see this error come up again.  Thanks for your help

[2019-08-21 11:33] #80 closed, assigned to nobody

[2020-02-22 18:49] milbrandt opened #83 "Replace deprecated Sonarqube API (7.9 LTS)"
No deprecated APIs will be accepted for plugins, see https://docs.sonarqube.org/latest/extend/developing-plugin/#header-3. Prerequisit for Issue #31

Currently still in branch feature/updates

[2020-02-22 19:26] #20 closed, assigned to nobody

[2020-03-14 14:25] milbrandt opened #87 "json Files included in files to analy"
**Describe the bug**
FileToAnalyze contains reference to json files

**Expected behavior**
Only files with expected F# extensions are inclued

**Actual behavior**
Except from `FilesToAnalyze.txt`

    e:\_1\22\s\source\WindowsService\Program.fs
    e:\_1\22\s\source\WindowsService\appsettings.json
    e:\_1\22\s\source\WindowsService\App.config

**Related information:**
- Plugin Version: 3.0.0.302

[2020-03-14 14:30] milbrandt commented on #87
will be filtered aout later on generating `fs-analysis-input.xml`

[2020-03-14 14:30] #87 closed, assigned to nobody

[2020-03-14 16:40] milbrandt opened #89 "Switch to Json configuration of FSharpLint"
Split from #35

Furthermore, XmlConfiguration is deprecated in FSharpLint and replaced with a new JSON configuration. In #30 mostly remained on the old style and only the bare minimum to get it up was fixed.

With release 0.13.3 FSharpLint discontinues support of old XML configuration. Thus an update is needed to further use FSharpLint.

[2020-03-14 16:49] milbrandt commented on #83
@jmecosta could you take care of this issue please? Last time you upgraded the API for this plugin and others from your company.
SonarQube 8.2 now removed some APIs deprected in 6.x.

[2020-03-14 23:13] jmecosta commented on #83
Yep, i can handle it

On Sat, 14 Mar 2020, 18:49 Volker Milbrandt, <notifications@github.com>
wrote:

[2020-03-15 17:20] milbrandt opened #91 "Settings in generated `fs-analysis-input.xml` is always empty"
see method `appendSettings` in `FSharpSensor.java`

@jmecosta Do you remember if this section was formerly used? Or is it a leftover from the starting when copying from another analyzer?

[2020-03-15 17:36] jmecosta commented on #91
I think the idea was to pass what rules run from the java side. But i think
it never materialized it.

On Sun, 15 Mar 2020, 19:20 Volker Milbrandt, <notifications@github.com>
wrote:

[2020-03-15 18:42] milbrandt commented on #91
seems like it is coming from https://github.com/SonarSource/sonar-dotnet/blob/master/sonaranalyzer-dotnet/src/SonarAnalyzer.Common/Rules/Utilities/UtilityAnalyzerBase.cs

The key `sonar.cs.ignoreHeaderComments`  in the `XmlHelper.fs` is a setting in SonarQube admin UI for C# language scanner.

Thanks, we'll have to see if any value will be configurable globally, like `numIndentationSpaces` or `Ign

[2020-03-15 18:50] jmecosta commented on #91
the optimal would be to have all rule configuration defined in the profiles! but its a bit hard to get this synchronized from both sides! anyway if that materializes then its all added bonus

[2020-03-25 09:09] #89 closed, assigned to milbrandt

[2020-04-22 07:54] milbrandt commented on #51
These files are in scope, `sonar-communityfsharp-plugin\src\test\resources\**\*put.xml`
Not the generated files of communication between Java and F# part of the plugin.

[2020-05-19 13:00] richardjharding opened #96 "Consider incorporating the f# security rules by Scott Wlaschin into this plugin"
As it currently stands this plugin and @swlaschin's [sonar fsharp security plugin ](https://github.com/swlaschin/sonar-fsharpsecurity-plugin) cannot coexist in Sonarqube as they both define the same sonar language and "sonar way" profile

I've been able to install both by removing the language and profile in fork of Scott's plugin but it would be better, in my opinion, to combine the plugins into

[2020-05-19 13:26] swlaschin commented on #96
This might be my fault as I just copied this repo as a template :)
Sorry Richard, I saw the [issue you raised on my repo](https://github.com/swlaschin/sonar-fsharpsecurity-plugin/issues/4) but never got round to responding.

My repo is not active at the moment -- I wrote it to satisfy requirements for a specific project which is no longer needed.

I'm happy to discuss any options to resolve this i

[2020-06-07 09:29] milbrandt commented on #96
Hello, I would be happy if you could support here and bring in your additional scannings.
As the state was somewhat outdated and no longer working I got access from @jmecosta to fix the issues on my own.
I know there are a lot of open points still in - but at least it is now working and we have it running in our production SonarQube 8.2 installation.

Additionally we should rework some parts to su

[2020-06-07 10:08] richardjharding commented on #96
great I'll have a go at bringing in Scott's security scanner into this plugin first

[2020-06-07 10:44] jmecosta commented on #96
sorry also for the delay  jumping on this, @richardjharding  that would be welcome. @milbrandt  next month i will also be able to work on the plugin to bring to latest sonar versions!

[2020-06-07 10:45] jmecosta commented on #83
next month i will do this!

[2020-06-30 13:37] #83 closed, assigned to jmecosta

[2020-06-30 13:37] jmecosta commented on #83
handled in #100

[2021-04-01 07:55] sonatype-depshield[bot] opened #104 "DepShield encountered errors while building your project"
The project could not be analyzed because of build errors. Please review the [error messages here](https://depshield.sonatype.org/error/jmecosta/sonar-fsharp-plugin/psc2C1zFKlkEcLLUMckyFg). Another build will be scheduled when a change to a manifest file<sup>*</sup> occurs. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype.org/error/jmec

[2021-07-23 09:51] MNie commented on #96
@jmecosta, @richardjharding is there any update on that? Maybe is it possible to help you guys with that?

[2021-07-23 09:53] jmecosta commented on #96
@MNie you are welcomed to provide a pull request. Thanks

[2022-02-10 21:15] #104 closed, assigned to nobody

[2022-08-18 09:53] jrk94 opened #106 "Not Generating Report - Not able to parse file"
**Describe the bug**
`10:12:54.256 INFO: Write output xml to file C:\src\.sonarqube\out\.sonar\mod27\fs-analysis-output.xml
10:12:54.318 ERROR: Not able to parse file : {0}` After writing output.xml

**To Reproduce**
Steps to reproduce the behavior:
` dotnet sonarscanner begin /k:"Proj" /d:sonar.host.url="http://localhost:9000"  /d:sonar.login="sqp_1b0f5426c6c858c18ec117b868232020cb404f031" /d:son

[2022-08-18 11:05] jmecosta commented on #106
Can u check what the report contains?

On Thu, Aug 18, 2022, 12:53 Roque ***@***.***> wrote:

[2022-08-18 14:11] jrk94 commented on #106
Sorry, here are the files
[mod24.zip](https://github.com/jmecosta/sonar-fsharp-plugin/files/9374566/mod24.zip)

[2022-11-18 11:23] milbrandt commented on #106
Sorry, didn't saw your post. Yes, the plugin is currently only for SonarQube 7.9.x and SonarQube 8.x. SonarQube changes they API with breaking changes, in the past it was always valid for 2 majors. Now they changed and it is only for the current major, see [API Deprecation Strategy](https://wp.grinding.ch/ips/core.PreFix/ugds/Documents/Forms/AllDocuments.aspx).

That said, there is an update of th